---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot123:567/getMe
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"id":1,"first_name": "veda","username":"vedatestbot"}}'
  recorded_at: Sun, 04 Dec 2016 19:08:58 GMT
recorded_with: VCR 3.0.3
