---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot123:567/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=-1001060312501&text=Test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":1,"from":{"id":1,"first_name":"veda","username":"vedatestbot"},"chat":{"id":-1,"title":"Title","username":"test","type":"channel"},"date":1480878539,"text":"Test"}}'
  recorded_at: Sun, 04 Dec 2016 19:08:58 GMT
recorded_with: VCR 3.0.3
