---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Ariiskie_vedi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="1", oauth_nonce="2", oauth_signature="3", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1480887017", oauth_token="4", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 04 Dec 2016 21:30:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 42776c4cb8e6408e76bc86449cf70a82
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '895'
      X-Rate-Limit-Reset:
      - '1480887439'
      X-Response-Time:
      - '225'
      X-Transaction:
      - 0005b7d200d9912e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Dec 04 18:01:05 +0000 2016","id":805472004392493056,"id_str":"805472004392493056","text":"https:\/\/t.co\/Xgs2auiyUg","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":805471994594623488,"id_str":"805471994594623488","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/Cy2cgvJWgAAgmiA.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cy2cgvJWgAAgmiA.jpg","url":"https:\/\/t.co\/Xgs2auiyUg","display_url":"pic.twitter.com\/Xgs2auiyUg","expanded_url":"https:\/\/twitter.com\/Ariiskie_vedi\/status\/805472004392493056\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":450,"resize":"fit"},"large":{"w":600,"h":450,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":600,"h":450,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":805471994594623488,"id_str":"805471994594623488","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/Cy2cgvJWgAAgmiA.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cy2cgvJWgAAgmiA.jpg","url":"https:\/\/t.co\/Xgs2auiyUg","display_url":"pic.twitter.com\/Xgs2auiyUg","expanded_url":"https:\/\/twitter.com\/Ariiskie_vedi\/status\/805472004392493056\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":450,"resize":"fit"},"large":{"w":600,"h":450,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":600,"h":450,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2913042609,"id_str":"2913042609","name":"\u0441\u043b\u0430\u0432\u044f\u043d\u043e\u0430\u0440\u0438\u0439\u0441\u043a\u0438\u0435
        \u0432\u0435\u0434\u044b","screen_name":"Ariiskie_vedi","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":4186,"friends_count":0,"listed_count":47,"created_at":"Tue
        Dec 09 18:10:28 +0000 2014","favourites_count":9,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":6959,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/802976613747032064\/o2WIrE-q_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/802976613747032064\/o2WIrE-q_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2913042609\/1471600816","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":7,"favorite_count":12,"favorited":false,"retweeted":false,"possibly_sensitive":true,"lang":"und"},{"created_at":"Sun
        Dec 04 18:00:40 +0000 2016","id":805471899086127104,"id_str":"805471899086127104","text":"https:\/\/t.co\/dW8c5QFPv8","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":805471889367957505,"id_str":"805471889367957505","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/media\/Cy2canJXAAE1Izz.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cy2canJXAAE1Izz.jpg","url":"https:\/\/t.co\/dW8c5QFPv[...]
